.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
}

.form textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100px;
  width: 300px;
}
